* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
}

.main-container {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 0.25fr 2.5fr 2fr 2fr 0.5fr;
}

.purple-button {
    padding: 1em 2em;
    border-radius: 20px;
    border: none;
    font-weight: 700;
    font-size: 1em;
    color: #fff;
    background-color: #6C63ff;
    text-decoration: none;
}

.top-section {
    grid-column: 1 / 4;
    border-bottom: 2px solid #000;
    margin: 1em;
    display: flex;
    align-items: center;
}

.top-section img {
    width: 3%;
    margin-right: 1em;
}

.hero-section {
    display: flex;
    grid-column: 1 / 4;
    margin: 1em;
}

.hero-text-section {
    margin: auto 0;
    padding: 2em;
}

.hero-text-section h2 {
    font-size: 3em;
}

.hero-text-section p {
    font-size: 2em;
    margin: 1em 0 1.5em 0;
}

#hero-image {
    width: 500px;
}

.middle-section {
    background-color: #6C63ff;
    color: #fff;
    grid-column: 1 / 4;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.middle-section-text {
    text-align: center;
    width: 50%;
}

.middle-section-text h2 {
    font-size: 2em;
}

.middle-section-text h2 {
    margin-bottom: 0.5em;
}

.middle-section-text a {
    text-decoration: none;
    color:#d4af37; 
}

.middle-section-number-span {
    font-size: 1.75em;
    font-style: italic;
}

.middle-section-text p {
    font-size: 1.25em;
}

.cards-section {
    display: grid;
    grid-column: 1 / 4;
    margin: 1em;
}

.card {
    text-align: center;
    background: #fff;
    border-radius: 5px;
    box-shadow: -8px 13px 35px 2px rgba(133, 133, 133, 1);
    margin: 1em;
    padding: 1em;
}

.card-1,
.card-2,
.card-3 {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

.card-1 h2,
.card-2 h2,
.card-3 h2 {
    font-size: 2em;
}

.card-1 p,
.card-2 p,
.card-3 p {
    font-size: 1.25em;
}

#bronze-plan-span {
    color:#cd7f32;
}

#silver-plan-span {
    color: #c0c0c0;
}

#gold-plan-span {
    color:#d4af37; 
}

.card-1 {
    grid-column: 1 / 2;
}

.card-2 {
    grid-column: 2 / 3;
}

.card-3 {
    grid-column: 3 / 4;
}

.footer-section {
    background-color: #3d3d3d;
    color: #fff;
    grid-column: 1 / 4;
    display: flex;
    justify-content: center;
    align-items: center;
}

.footer-section a {
    color: #fff;
    text-decoration: none;
}

@media only screen and (max-width: 1100px) {

    .main-container {
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        grid-template-rows: 0.05fr 1fr 0.5fr 1fr 0.15fr;
    }

    .hero-section {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        text-align: center;
    }

    .cards-section {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .card-1,
    .card-2,
    .card-3 {
        width: 70%;
        height: 20em;
        padding: 2em;
    }

}
